!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %title
      = @recipe.name

    %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/bootstrap.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/styles.css" }
  %body
    .container-fluid{style: "max-width: 1200px;"}
      .row
        .col-sm-12
          %h1
            = @recipe.name
            %small
              = @recipe.description
      .row
        .col-md-3.col-sm-12.col-xs-12
          %strong
            Ingredients
          %ul.ingredients
            - @recipe.ingredients.each do |ing|
              %li= ing.ingredient
        .col-sm-12.col-md-9
          %dl.steps
            - @recipe.action_steps.each do |steps|
              .step
                %dt= steps.first
                %dd= steps.last
                - # .split(". ").join(".<br />")

  %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" }
  %script{ src: "/js/js.js" }

